*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
h1{
    text-align: center;
    color: #563367;
    position: relative;
    top: 10px;
}
.toDoList{
    background-image: url('Background\ Image.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 800px;
    border-radius: 15px;
    position: relative;
    top: 30px;
    left: 23%;
    box-shadow: 4px 4px 6px 4px #aaa29b;
}
#input{
    position: relative;
    top: 20px;
    left: 230px;
    width: 40%;
    border-radius: 9px;
    border-style: none;
}
#add{
    position: relative;
    top: 20px;
    left: 230px;
    border-radius: 70px;
    height: 20px;
    width: 20px;
    color: #563367;
    border-style: none;
}
p,input,button{
    display: inline-block;
    position: relative;
    top: 40px;
}
p{
    color: #fff;
    text-align: center;
}
input{
    position: relative;
    left: 50px;
}
button{
    position: relative;
    left: 30px;
}
ul{
    list-style-type: none;
}
